@font-face {
    font-family: Kollektif;
    src: url('/fonts/Kollektif.ttf') format("truetype");
}

@font-face {
    font-family: BelyDisplay;
    src: url('/fonts/Bely.otf') format("truetype");
}

.nav-item {
    font-size: 2.25rem;
    margin: 0 25px;
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    color: rgba(103,101,101,1);
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    cursor: pointer;
}

section img {
    width:100%;
    height:100%;
    object-fit: contain;
}

section .row {
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: BelyDisplay;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: rgba(103,101,101,1);
}

p {
    margin-top: 30px;
    text-align: left;
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.50rem;
    width: 75%;
    color: rgba(103,101,101,1);
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.526;
    margin: 0 auto;
    text-align: center;
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(103,101,101,1);
}

.poetry-heading {
    line-height: 2.2rem;
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    color: rgba(103,101,101,1);
    text-align: left !important;
}

.poetry {
    line-height: 1.8rem;
    text-align: left;
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    color: rgba(103,101,101,1);
    text-align: left !important;
}

.contact-icon {
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-enable-deep-linking: true;
    opacity: 0.875;
    background-color: rgba(253,253,253,1);
}

.behance {
    transform: matrix(1,0,0,1,0,0);
}

#svg-container
{
  display: flex;
  align-items: center;
}

.fab, .far {
    font-size: 3rem;
}

/* Mobile */
@media (min-width: 320px) { 
    .heading {
        font-size: 	2rem;
    }
    
    .sm-center {
        margin: 0 auto;
        text-align: center;
    }

    .fab, .far {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .copyright{
        display: none;
    }

    .nav-item {
        font-size: 1.25rem;
    }

    .nav-link {
        padding-top: 0 !important;
        padding-bottom: 0.3rem !important;
    }

    body {
        padding-bottom:50px;
    }

    .copyright-mobile {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.526;
        margin: 0 auto;
        text-align: center;
        font-family: Kollektif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        color: rgba(103,101,101,1);
    }
}

/* Small */
@media (min-width: 768px) { 
    .heading {
        font-size: 	2rem;
    }

    body {
        margin-bottom:unset;
        padding-bottom: 100px;
    }

    .sm-center {
        margin: unset;
        text-align: unset;
    } 

    .copyright{
        display: flex;
    }

    .nav-link {
        padding-top: unset !important;
        padding-bottom: unset !important;
    }

    .copyright-mobile {
        display: none;
    }

}

/* Medium */
@media (min-width: 992px) { 
    .heading {
        font-size: 	2.75rem;
    }

    .nav-item {
        font-size: 1.75rem;;
    }

    p {
        font-size: 1.2rem;
    }
}

/* Large */
@media (min-width: 1200px) { 

    .container {
        width: 80%;
    }

    .heading {
        font-size: 	3.50rem;
    }

    .nav-item {
        font-size: 2.25rem;;
    }

    p {
        font-size: 1.50rem;
    }
}