.nav2-item {
    font-size: 1.2rem;
    margin: 0 15px;
    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    color: rgba(103,101,101,1);
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    cursor: pointer;
    text-align: center;
}

.nav2-link {
    padding-right: 0;
    padding-left: 0;
}

.card {
    border: unset;
    border-radius: unset;
    /* min-width: 30%; */
    margin-top: 20px;
}

section img {
    object-fit: unset;
}

.card-body {
    height: 4.5rem;
}

.col-12, .col-lg-4 {
    padding-right: unset !important;
    padding-left: unset !important;
}


/* Mobile */
@media (min-width: 320px) { 

    nav .dropdown {
        display: block;
        margin: 0 auto;
        color: rgba(103,101,101,1);
        border:  rgba(103,101,101,1);
        background: white;
    }

    nav .dropdown button{
        background-color: white;
    }
    nav .dropdown button:active, nav .dropdown button:focus {
        box-shadow: 0 0 0 0.2rem rgb(103 101 101 / 25%);
    }

    .dropdown-item.active, .dropdown-item:active {
        color: white !important;
        text-decoration: none  !important;
        background-color: rgb(103 101 101) !important;
    }

    .dropdown-item.hover, .dropdown-item:hover {
        color: #212529 ;
        text-decoration: none  ;
        background-color: rgb(103 101 101) ;
    }

    .card {
        border: unset;
        border-radius: unset;
        min-width: 80% !important;
    }
}


/* Small */
@media (min-width: 768px) { 

    .card {
        border: unset;
        border-radius: unset;
        min-width: 40% !important;
    }

    .nav-link {
        padding-top: unset !important;
        padding-bottom: unset !important;
    }
}

/* Medium */
@media (min-width: 992px) { 
    .navbar {
        border-bottom: solid 1px rgba(103,101,101,1);
    }

    nav .dropdown {
        display: none;
    }
    
    .card {
        border: unset;
        border-radius: unset;
        min-width: 30% !important;
        border: unset !important;
    }

    section {
        margin-top: 40px;
    }
}

/* Large */
@media (min-width: 1200px) { 

    
}

.navbar2{
    border-bottom: unset;
}